<div id="id01" class="modal1 border">
  <div class="container login-container">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>
    <div class="imgcontainer">
      <%= image_tag("/login.png") %>
    </div>
  </div>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div id="devise-errors">
      <%= render "devise/shared/error_messages", resource: resource %>
    </div>

    <div class="field container">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    
    <div class="field container">
      <%= f.label :name %><br />
      <%= f.text_field :name, autocomplete: "name", placeholder: "Enter Your Name" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field container">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field container">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field container">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Enter Current Password" %>
    </div>

    <div class="actions container">
      <%= f.submit "Update", class: "button_css login" %>
    </div>
  <% end %>
  
  <hr>
  
  <div class="field container">
    <h3>Cancel my account</h3>
    <div class="actions container cancel-section"  style="background-color:#f1f1f1">
      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "delete-buttons cancel-delete-buttons button_css float-left" %></p>
      <%= link_to "Back", root_path, class: "back-buttons cancel-delete-buttons button_css float-right"%>
    </div>
  </div>
</div>

<style>
  .container{
    padding: 0px 15px;
  }
</style>