<h4>Import Log</h4>
<% if import_csv_log.present? %>
<table id="import-log-table" class="last-update">
  <tr>
    <td colspan="3"><label>Status: </label><%= import_csv_log.status %></td>
  </tr>
  <tr>
    <td>Line no</td>
    <td>Status</td>
    <td>Description</td>
  </tr>
<% if import_csv_log.logs.present? %>
  <% import_csv_log.logs.each do |log| %>
  <tr>
    <td><%= log[:line_no] %></td>
    <td><%= log[:status] %></td>
    <td>
      <% if log[:description].kind_of?(Array) %>
        <ul>
        <% log[:description].each do |error| %>
          <li><%= error %></li>
        <% end %>
      <% else %>
        <%= log[:description] %>
      <% end %>
        </ul>
    </td>
  </tr>
  <% end %>
<% end %>
</table>
<% else %>
  Nothing to show
<% end %>
<div class="width-100px button-divs">
  <%= link_to 'Back', data_center_path, class: 'button_css width-100px' %>
</div>