<% if @last_entry.present? %>
  <div id="last-entry">
    <div id="last-entry-heading"class= "heading-div">
      <h4>Last Data Entry</h4>
    </div>
    <div id="last-entry-report">
      <table class="last-update" width="100%">
        <tr class="header">
          <td><%= I18n.t('district_text') %></td>
          <td><%= I18n.t('latitude') %></td>
          <td><%= I18n.t('longitude') %></td>
          <td><%= I18n.t('total_no_of_patients') %></td>
          <td><%= I18n.t('total_no_of_patients_in_observation') %></td>
          <td><%= I18n.t('total_no_of_patients_in_observation_at_home') %></td>
          <td><%= I18n.t('total_no_of_patients_in_observation_at_hospital') %></td>
          <td><%= I18n.t('total_no_of_patients_admitted_today') %></td>
          <td><%= I18n.t('total_no_of_patients_recovered_today') %></td>
          <td><%= I18n.t('total_no_of_patients_died_today') %></td>
          <td><%= I18n.t('updated_by') %></td>
        </tr>
        <tr>
          <td><%= I18n.t("district.#{@last_entry.district.name}") %></td>
          <td><%= @last_entry.district.try(:latitude) %></td>
          <td><%= @last_entry.district.try(:longitude) %></td>
          <td><%= @last_entry.total_no_patients %></td>
          <td><%= @last_entry.no_of_patients_under_observation %></td>
          <td><%= @last_entry.no_of_patients_obs_at_home %></td>
          <td><%= @last_entry.no_of_patients_obs_at_hospital %></td>
          <td><%= @last_entry.no_of_patients_admitted_today %></td>
          <td><%= @last_entry.no_of_patients_recovered_today %></td>
          <td><%= @last_entry.no_of_patients_died_today %></td>
          <td><%= @last_entry.admin_user.try(:name) %></td>
        </tr>
      </table>
    </div>
  </div>
<% else %>
  <div class="no-entries">
    No Entries
  </div>
<% end %>
<div class="heading-div">
  <h4>Live Overall Stats (<%= Date.today.strftime("%d-%m-%Y") %>)</h4>
</div>

<!-- #add filters if needed -->
<div id="filters">
  <div id="country" class="filter-fields">
    <label>Country</label>
    <%= select :filter, :country_id, @countries.map{|x| ["#{I18n.t("country.#{x.name}")}", x.id]}, prompt: "Select a Country", onChange: "get_states(this.value)" %>
  </div>
  <div id="state" class="filter-fields">
    <label>State</label>
    <%= select :filter, :state_id, @states.map{|x| ["#{I18n.t("state.#{x.name}")}", x.id]}, prompt: "Select a State", onchange: "send_view_request(this.value)" %>
  </div>
</div>

<!-- #table that shows the latest data -->
<div id="district-wise-report">
  <% if @stats_counts.present? %>
    <%= render partial: "stats_reports/show_live_report", locals: {stats_counts: @stats_counts} %>
  <% end %>
</div>
<script>
  $('#filter_country_id').change(function(){
    value = $(this).val();
    $.ajax({
      type: 'POST',
      url: '/stats_reports/get_states',
      data: {country_id: value}
    });
  })
</script>